:root {
  --primary-clr: #6E5AFF;
  --primary-clr-transparent-03: #6E5AFF3B;
  --primary-clr-transparent-05: #6E5AFF73;
  --bg__clr-dark-transparent-03: #1113;
  --bg__clr-dark-transparent-05: #1115;
  --bg__clr-light: #fff;
  --bg__clr-light-150: #eeeeee;
  --bg__clr-light-200: #dddddd;
  --bg__clr-light-300: #c9c9c9;
  --bg__clr-light-500: #acacac;
  --bg__clr-light-700: #8e8e8e;
  --bg__clr-light-900: #666666;
  --bg__clr-dark: #111;
  --bg__clr-dark-200: #222;
  --bg__clr-dark-300: #333;
  --bg__clr-dark-500: #555;
  --bg__clr-Dim: #110b2e;
  --border__radius-1: 2rem;
  --border__radius-2: 1rem;
  --border__radius-3: 0.5rem;
  --border__radius-4: 0.3rem;
}

:root.Light__Mode {
  --bg__clr-dark-transparent-03: #1111114a;
  --bg__clr-dark-transparent-05: #1111117e;
  --bg__clr-light: #fff;
  --bg__clr-light-150: #eeeeee;
  --bg__clr-light-200: #dddddd;
  --bg__clr-light-300: #c9c9c9;
  --bg__clr-light-500: #acacac;
  --bg__clr-light-700: #8e8e8e;
  --bg__clr-light-900: #666666;
  --bg__clr-dark: #111;
  --bg__clr-dark-200: #222;
  --bg__clr-dark-300: #333;
  --bg__clr-dark-500: #555;
  --bg__clr-Dim: #110b2e;
}

:root.Dark__Mode {
  --bg__clr-dark-transparent-03: #1113;
  --bg__clr-dark-transparent-05: #1115;
  --bg__clr-light: #111;
  --bg__clr-light-150: #181818;
  --bg__clr-light-200: #222;
  --bg__clr-light-300: #333;
  --bg__clr-light-500: #555;
  --bg__clr-light-700: #777;
  --bg__clr-light-900: #999;
  --bg__clr-dark: #fff;
  --bg__clr-dark-200: #eaeaea;
  --bg__clr-dark-300: #ebebeb;
  --bg__clr-dark-500: #e6e6e6;
}

:root.Dim__Mode {
  --bg__clr-dark-transparent-03: #110b2e36;
  --bg__clr-dark-transparent-05: #110b2e77;
  --bg__clr-light: #110b2e;
  --bg__clr-light-150: #18113a;
  --bg__clr-light-200: #221b48;
  --bg__clr-light-300: #271e54;
  --bg__clr-light-500: #555;
  --bg__clr-light-700: #777;
  --bg__clr-light-900: #999;
  --bg__clr-dark: #fff;
  --bg__clr-dark-200: #eaeaea;
  --bg__clr-dark-300: #ebebeb;
  --bg__clr-dark-500: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  background: var(--bg__clr-light-150);
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border__radius-2);
  background: var(--primary-clr);
}

html {
  font-family: sans-serif;
  user-select: none;
  user-zoom: fixed;
}

body {
  min-height: 100vh;
  background: var(--bg__clr-light-150);
}

input {
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--bg__clr-light-150);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 45px;
  transition: 0.2s ease-in-out;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  user-select: none;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  height: 45px;
  outline: 0.1rem solid var(--bg__clr-dark-500);
  outline-offset: 0.15rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--bg__clr-dark-300);
  transition: 0.1s ease-in-out;
  margin: 1rem 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.Btn__Primary {
  outline-offset: 0;
  outline: 0.15rem solid var(--primary-clr);
  background: var(--primary-clr);
  color: var(--bg__clr-dark-300);
}

.Btn__Outline {
  outline-offset: 0;
  outline: 0.1rem solid var(--primary-clr);
  color: var(--primary-clr);
  background: none;
}

.Btn:hover {
  outline-offset: 0.1rem;
  outline: 0.15rem solid var(--primary-clr);
}

.Btn:active {
  background: var(--primary-clr-transparent-03);
  color: var(--primary-clr);
  outline-offset: 0.1rem;
}

.Btn__Icon {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0.4rem;
  background: transparent;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  outline: 0.1rem solid var(--bg__clr-dark-500);
  outline-color: transparent;
  outline-offset: -1rem;
  cursor: pointer;
}

.Btn__Icon .Cart__Count {
  position: absolute;
  display: none;
  top: 0.4rem;
  right: 0.1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  border-radius: var(--border__radius-3);
  color: var(--bg__clr-light-200);
  background: var(--primary-clr);
}

.Btn__Icon .Cart__Count.active {
  display: block;
}

.Btn__Icon:hover {
  outline-color: var(--bg__clr-dark-500);
  outline-offset: 0.1rem;
}

.Btn__Icon i {
  font-size: 1.2rem;
  color: var(--bg__clr-dark-300);
}

.Btn__Icon:hover i {
  color: var(--bg__clr-dark-300);
}

.Select {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 37px;
  outline: 0.1rem solid var(--bg__clr-dark-300);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background: var(--bg__clr-light-200);
  font-size: 1rem;
  font-weight: 600;
  color: var(--bg__clr-dark-300);
  transition: 0.1s ease-in-out;
  margin: 0.7rem 0;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.Loading__Contaner {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg__clr-light-150);
  font-size: 1.5rem;
  color: var(--primary-clr);
}

.Loading__Contaner.active {
  display: flex;
  animation: Feed__Up 0.5s ease-in-out forwards;
}

.Loading__Contaner .Loading {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 0.4rem solid var(--bg__clr-light-300);
  border-top-color: var(--primary-clr);
  animation: Spiner 0.5s cubic-bezier(0.5, 0.5, 0.5, 0) infinite;
}

.Container {
  position: relative;
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  min-height: 100vh;
  outline: 0.1rem solid var(--bg__clr-light-700);
  overflow: hidden;
}

.Container.active {
  display: flex;
  animation: Feed__Up 0.5s ease-in-out forwards;
}


/* === Header Start =================== */

.Container header {
  position: sticky;
  padding: 1rem 2rem;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg__clr-light-200);
}

.Container header .logo {
  font-size: 1.9rem;
  color: var(--bg__clr-dark-300);
}

.Container header .Header__Right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* === Header End =================== */


/* === Cart Start =================== */

.Container .Cart__Container {
  position: fixed;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  right: -360px;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 350px;
  border-left: 0.1rem solid var(--bg__clr-light-700);
  background: var(--bg__clr-light-150);
  z-index: 3;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
}

.Container .Cart__Container.active {
  right: 0;
}

.Container .Cart__Container .Cart__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--bg__clr-light-150);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

:root.Light__Mode .Container .Cart__Container .Cart__Overlay {
  background: var(--bg__clr-dark);
}

.Container .Cart__Container.active .Cart__Overlay {
  pointer-events: painted;
  opacity: 0.7;
}

.Container .Cart__Container .Cart__Header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--bg__clr-light-200);
  border-bottom: 0.1rem solid var(--bg__clr-light-700);
  z-index: 1;
}

.Container .Cart__Container .Cart__Header h3 {
  font-size: 1.1rem;
  color: var(--bg__clr-dark-300);
}

.Container .Cart__Container .Cart__Header button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg__clr-dark-300);
  outline: 0.1rem solid var(--bg__clr-dark-300);
  outline-offset: 0;
  border-radius: var(--border__radius-4);
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  outline-offset: 0.15rem;
}

.Container .Cart__Container .Cart__Header button:hover {
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

.Container .Cart__Container .Cart__Header button:active {
  color: var(--bg__clr-light);
}

.Container .Cart__Container .Cart__Header button i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-200);
}

.Container .Cart__Container .Cart__Header button i:first-child {
  display: block;
}

.Container .Cart__Container .Cart__Header button i:last-child {
  display: none;
}

.Container .Cart__Container .Cart__Header .Btn__Clear {
  width: fit-content;
  max-width: none;
  padding: 0 0.5rem;
  font-weight: 600;
  pointer-events: none;
  opacity: 0.5;
  background: var(--bg__clr-dark-300);
  border: none;
  color: var(--bg__clr-light-200);
  outline: 0.1rem solid var(--bg__clr-dark-300);
}

.Container .Cart__Container .Cart__Header .Btn__Clear.active {
  pointer-events: painted;
  opacity: 1;
}

.Container .Cart__Container .Cart__Header .Btn__Clear:hover {
  outline-offset: 0.15rem;
}

.Container .Cart__Container .Cart__Item__Wrapper .Text__Cart__Empty {
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  color: var(--bg__clr-dark-500);
}

.Container .Cart__Container .Cart__Item__Wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--bg__clr-light-150);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0.1rem solid var(--bg__clr-light-700);
  border-radius: var(--border__radius-3);
  gap: 0.5rem;
  cursor: pointer;
  background: var(--bg__clr-light-200);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item:hover {
  background: var(--bg__clr-light-300);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Btn__Delete__Items {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: var(--border__radius-1);
  top: -0.5rem;
  left: -0.5rem;
  width: 1.4rem;
  height: 1.4rem;
  color: var(--bg__clr-light-200);
  background: var(--bg__clr-dark-300);
  font-size: 0.8rem;
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Btn__Delete__Items:hover {
  background: var(--primary-clr);
  color: var(--bg__clr-light);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Cart__Item__Image {
  max-width: 80px;
  aspect-ratio: 2/2;
  border-top-left-radius: var(--border__radius-3);
  border-bottom-left-radius: var(--border__radius-3);
  background: var(--bg__clr-light);
  overflow: hidden;
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Cart__Item__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.4rem 0 0.4rem 0.4rem;
  border-left: 0.1rem solid var(--bg__clr-light-700);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Cart__Item__Content h3 {
  font-size: 1.1rem;
  color: var(--bg__clr-dark-300);
}

.Container .Cart__Container .Cart__Item__Wrapper .Cart__Item .Cart__Item__Content span {
  background: var(--primary-clr);
  color: var(--bg__clr-light);
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  border-radius: var(--border__radius-1);
}

.Container .Cart__Container .Cart__Btn__Wrapper {
  position: sticky;
  display: flex;
  width: 100%;
  bottom: 0;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid var(--bg__clr-light-700);
  background: var(--bg__clr-light-200);
  z-index: 2;
}

.Container .Cart__Container .Cart__Btn__Wrapper h3 {
  flex: 1;
  color: var(--bg__clr-dark-300);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-right: 0.1rem solid var(--bg__clr-light-700);
}

.Container .Cart__Container .Cart__Btn__Wrapper button {
  margin: 0;
  max-width: fit-content;
  height: 40px;
  color: var(--bg__clr-light);
  background: var(--primary-clr);
  outline-color: var(--primary-clr);
}


/* === Cart End =================== */


/* === Nav End =================== */

.Container .Nav__Container {
  position: fixed;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  right: -360px;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 350px;
  border-left: 0.1rem solid var(--bg__clr-light-700);
  background: var(--bg__clr-light-150);
  z-index: 3;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
}

.Container .Nav__Container.active {
  right: 0;
}

.Container .Nav__Container .Nav__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--bg__clr-light-150);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

:root.Light__Mode .Container .Nav__Container .Nav__Overlay {
  background: var(--bg__clr-dark);
}

.Container .Nav__Container.active .Nav__Overlay {
  pointer-events: painted;
  opacity: 0.7;
}

.Container .Nav__Container .Nav__Header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--bg__clr-light-200);
  border-bottom: 0.1rem solid var(--bg__clr-light-700);
  z-index: 1;
}

.Container .Nav__Container .Nav__Header h3 {
  font-size: 1.1rem;
  color: var(--bg__clr-dark-300);
}

.Container .Nav__Container .Nav__Header button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg__clr-dark-300);
  outline: 0.1rem solid var(--bg__clr-dark-300);
  outline-offset: 0;
  border-radius: var(--border__radius-4);
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  outline-offset: 0.15rem;
}

.Container .Nav__Container .Nav__Header button:hover {
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

.Container .Nav__Container .Nav__Header button:active {
  color: var(--bg__clr-light-200);
}

.Container .Nav__Container .Nav__Header button i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-200);
}

.Container .Nav__Container .Nav__Header button i:first-child {
  display: block;
}

.Container .Nav__Container .Nav__Header button i:last-child {
  display: none;
}

.Container .Nav__Container .Nav__Header .Btn__Save {
  width: fit-content;
  max-width: none;
  padding: 0 0.5rem;
  font-weight: 600;
  pointer-events: none;
  opacity: 0.5;
  background: var(--bg__clr-dark-300);
  border: none;
  color: var(--bg__clr-light-200);
  outline: 0.1rem solid var(--bg__clr-dark-300);
}

.Container .Nav__Container .Nav__Header .Btn__Save.active {
  pointer-events: painted;
  opacity: 1;
}

.Container .Nav__Container .Nav__Header .Btn__Save:hover {
  outline-offset: 0.15rem;
}

.Container .Nav__Container .Nav__Content {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background: var(--bg__clr-light-150);
}

.Container .Nav__Container .Nav__Content .Nav__Item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Nav__Item__Title__Wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Nav__Item__Title__Wrapper h5 {
  font-size: 1rem;
  font-weight: 600;
  flex: 1;
  color: var(--bg__clr-dark-500);
}

.Container .Nav__Container .Nav__Content .Nav__Item .Nav__Item__Title__Wrapper span {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--bg__clr-light-200);
  padding: 0.3rem 0.4rem;
  border-radius: var(--border__radius-4);
  background: var(--bg__clr-dark-300);
}

.Container .Nav__Container .Nav__Content .Nav__Item .Nav__Input {
  -webkit-appearance: none;
  appearance: none;
  padding: 0.3rem 0;
  background: var(--bg__clr-dark-300);
  height: 0.8rem;
  outline: 0;
  border-radius: var(--border__radius-1);
  border: 0;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Nav__Input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--primary-clr);
  border-radius: var(--border__radius-1);
  outline: 0.2rem solid var(--primary-clr);
  outline-offset: 0.1rem;
  cursor: pointer;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper {
  position: relative;
  width: 100%;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item div {
  width: 100%;
  aspect-ratio: 2/2;
  border-radius: var(--border__radius-3);
  outline: 0.2rem solid var(--bg__clr-dark-300);
  outline-offset: 0.2rem;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item.Light div {
  background: #eeeeee;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item.Dark div {
  background: #111;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item.Dim div {
  background: #110b2e;
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item.active div {
  outline-color: var(--primary-clr);
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item h5 {
  font-size: 1rem;
  color: var(--bg__clr-dark-300);
}

.Container .Nav__Container .Nav__Content .Nav__Item .Theme__Wrapper .Theme__Item.active h5 {
  color: var(--primary-clr);
}


/* === Nav End =================== */


/* === Main Start =================== */

.Container main {
  position: relative;
  display: inline-flex;
  flex: 1;
  width: 100%;
  border-top: 0.1rem solid var(--bg__clr-light-700);
}

.Container main .Filter__Overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  background: var(--bg__clr-light-150);
  pointer-events: none;
  transition: 0.5s ease-in;
  z-index: -1;
}

:root.Light__Mode .Container main .Filter__Overlay {
  background: var(--bg__clr-dark);
}

.Container main.active .Main__Content__Wrapper {
  padding-left: 350px;
}

.Container main .Main__Header {
  position: relative;
  padding: 0rem 2rem;
  top: -1px;
  width: 100%;
  height: 69px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg__clr-light-200);
  border-bottom: 0.1rem solid var(--bg__clr-light-700);
}

.Container main .Main__Header .Main__Title {
  font-size: 1.3rem;
  color: var(--bg__clr-dark-300);
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.Container main .Main__Content__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  transition: 0.3s ease-in-out;
}

.Container main .Main__Content__Wrapper .Main__Content {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 1rem auto;
  max-width: 90%;
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper .Pagination__Number__Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper .Pagination__Number__Wrapper button {
  padding: 0.3rem 0.8rem;
  height: 35px;
  max-width: 35px;
  margin: 0;
  border-radius: var(--border__radius-4);
  background: transparent;
  color: var(--bg__clr-dark-300);
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper .Pagination__Number__Wrapper button.active {
  background: var(--primary-clr);
  color: var(--bg__clr-light-200);
  outline-color: var(--primary-clr);
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper button i {
  color: var(--bg__clr-dark-300);
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper button:hover {
  background: var(--bg__clr-dark-300);
  color: var(--bg__clr-light-200);
  outline-color: var(--bg__clr-dark-300);
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper button {
  height: 38px;
  padding: 0.3rem 0.5rem;
  border-radius: var(--border__radius-4);
  background: var(--bg__clr-dark-300);
  color: var(--bg__clr-light-200);
  cursor: pointer;
}

.Container main .Main__Content__Wrapper .Main__Content .Pagination__Wrapper button i {
  color: var(--bg__clr-light-200);
}

.Container main.active .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper {
  flex-wrap: wrap;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper {
  position: relative;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  transition: 0.5s ease-in-out;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item {
  position: relative;
  max-width: 250px;
  height: fit-content;
  border-radius: var(--border__radius-4);
  outline: 0.1rem solid var(--bg__clr-light-700);
  overflow: hidden;
  cursor: pointer;
  transform: scale(0);
  animation: Scale 0.5s ease-in forwards;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Image__Wrapper {
  position: relative;
  max-height: 170px;
  overflow: hidden;
  background: #fff;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Image__Wrapper img {
  transition: 0.3s ease-in-out;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item:hover .Image__Wrapper img {
  transform: scale(1.2);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item:hover .Card__Bottom {
  background: var(--bg__clr-light-200);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid var(--bg__clr-light-700);
  width: 100%;
  gap: 0.2rem;
  padding: 1rem;
  background: var(--bg__clr-light-150);
  z-index: 1;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom .Card__Title {
  font-size: 1.3rem;
  color: var(--bg__clr-dark-300);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom .Card__Title:hover {
  text-decoration: underline;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom .price {
  font-size: 1.1rem;
  color: var(--bg__clr-dark-500);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom .Btn {
  background: var(--primary-clr);
  outline-color: var(--primary-clr);
  color: var(--bg__clr-light-200);
  gap: 0.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom .Btn:active {
  color: var(--bg__clr-light);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: fit-content;
  border-radius: var(--border__radius-4);
  outline: 0.1rem solid var(--bg__clr-light-700);
  overflow: hidden;
  cursor: pointer;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item .Loading__Image__Wrapper {
  position: relative;
  max-height: 170px;
  width: 100%;
  min-height: 170px;
  overflow: hidden;
  background: linear-gradient(45deg, var(--bg__clr-light-200), var(--bg__clr-light-700), var(--bg__clr-light-200));
  background-size: 1000px;
  background-position: top left;
  animation: Load 1s ease-in infinite;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item .Loading__Card__Bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid var(--bg__clr-light-700);
  width: 100%;
  gap: 0.2rem;
  padding: 1rem;
  z-index: 1;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item .Loading__Card__Bottom .Loading__Card__Title {
  width: 100%;
  height: 2rem;
  border-radius: var(--border__radius-4);
  background: linear-gradient(-45deg, var(--bg__clr-light-200), var(--bg__clr-light-700), var(--bg__clr-light-200));
  background-size: 2000px;
  background-position: top left;
  animation: Load 1s ease-in infinite;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item .Loading__Card__Bottom .Loading__price {
  width: 3rem;
  border-radius: var(--border__radius-4);
  margin-right: auto;
  height: 2rem;
  background: linear-gradient(45deg, var(--bg__clr-light-200), var(--bg__clr-light-700), var(--bg__clr-light-200));
  background-size: 1000px;
  background-position: top left;
  animation: Load 1s ease-in infinite;
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item .Loading__Card__Bottom .Loading__Btn {
  width: 100%;
  margin-top: 0.5rem;
  height: 3rem;
  border: 0.1rem solid var(--bg__clr-light-200);
  border-radius: var(--border__radius-4);
  background: var(--bg__clr-light-200);
  font-size: 1.1rem;
  color: var(--bg__clr-dark-300);
}

.Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Text__Wait {
  font-size: 1.2rem;
  color: var(--bg__clr-dark-500);
  display: block;
  text-align: center;
  width: 100%;
}

.Container main .Main__Content__Wrapper .Main__Content footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg__clr-light-200);
  border-top: 0.1rem solid var(--bg__clr-light-700);
}

.Container main .Main__Content__Wrapper .Main__Content footer h3 {
  font-size: 1.2rem;
  color: var(--bg__clr-light-900);
  font-weight: 600;
}

.Container main .Main__Content__Wrapper .Main__Content footer h3 a {
  color: var(--primary-clr);
}


/* === Aside Start =================== */

.Container main aside {
  position: fixed;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  right: -360px;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 350px;
  border-left: 0.1rem solid var(--bg__clr-light-700);
  background: var(--bg__clr-light-150);
  z-index: 3;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
}

.Container main aside::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Container main aside .Aside__Overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg__clr-light-150);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

:root.Light__Mode .Container main aside .Aside__Overlay {
  background: var(--bg__clr-dark);
}

.Container main aside.active {
  right: 0;
}

.Container main aside.active .Aside__Overlay {
  opacity: 0.7;
  pointer-events: painted;
}

.Container main aside .Aside__Header {
  position: sticky;
  padding: 1rem;
  top: 0;
  width: 100%;
  max-height: 70px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  background: var(--bg__clr-light-200);
  border-bottom: 0.1rem solid var(--bg__clr-light-700);
  z-index: 2;
}

.Container main aside .Aside__Header div {
  padding: 1rem;
}

.Container main aside .Aside__Header h3 {
  font-size: 1.2rem;
  color: var(--bg__clr-dark-300);
  font-weight: 600;
}

.Container main aside .Aside__Header button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg__clr-dark-300);
  outline: 0.1rem solid var(--bg__clr-dark-300);
  outline-offset: 0;
  border-radius: var(--border__radius-4);
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  outline-offset: 0.15rem;
}

.Container main aside .Aside__Header button:hover {
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

.Container main aside .Aside__Header button:active {
  color: var(--bg__clr-dark-300);
}

.Container main aside .Aside__Header button i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-200);
}

.Container main aside .Aside__Header button i:first-child {
  display: block;
}

.Container main aside .Aside__Header button i:last-child {
  display: none;
}

.Container main aside .Product__Info__Contaner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--bg__clr-light);
}

.Container main aside .Product__Info__Contaner .Product__Image__Wrapper {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  background: #fff;
}

.Container main aside .Product__Info__Contaner .Product__Image__Wrapper .Product__Info__Top__Wrapper {
  position: absolute;
  padding: 1rem;
  display: flex;
  gap: 0.4rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--bg__clr-light-transparent-05);
  backdrop-filter: blur(1rem);
  bottom: 0;
  width: 100%;
}

:root.Dark__Mode .Container main aside .Product__Info__Contaner .Product__Image__Wrapper .Product__Info__Top__Wrapper,
:root.Dim__Mode .Container main aside .Product__Info__Contaner .Product__Image__Wrapper .Product__Info__Top__Wrapper {
  background: var(--bg__clr-dark-transparent-05);
}

.Container main aside .Product__Info__Contaner .Product__Image__Wrapper .Product__Info__Top__Wrapper .Product__Title {
  font-size: 1.4rem;
  color: var(--bg__clr-dark-300);
  font-weight: 600;
}

.Container main aside .Product__Info__Contaner .Product__Image__Wrapper .Product__Info__Top__Wrapper .Product__Price {
  font-size: 1.3rem;
  color: var(--bg__clr-light-200);
  background: var(--bg__clr-dark-300);
  padding: 0.8rem 1.5rem;
  border-radius: var(--border__radius-1);
  backdrop-filter: blur(1rem);
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper .Info__Title {
  font-size: 1rem;
  color: var(--bg__clr-dark-300);
  font-weight: 600;
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper span,
.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper p {
  font-size: 1.1rem;
  color: var(--bg__clr-dark-500);
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper p {
  display: block;
  font-size: 1rem;
}

.Container main aside .Product__Info__Contaner .Product__Info__Bottom__Wrapper .Info__Wrapper a {
  color: var(--primary-clr);
  font-size: 1.1rem;
}

.Container main aside .Product__Btn__Wrapper {
  position: sticky;
  bottom: 0;
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid var(--bg__clr-light-700);
  background: var(--bg__clr-light-200);
  z-index: 2;
}

.Container main aside .Product__Btn__Wrapper button {
  margin: 0;
  height: 40px;
  color: var(--bg__clr-light);
  gap: 0.7rem;
}

.Container main aside .Product__Btn__Wrapper button i {
  font-size: 1.2rem;
  color: var(--bg__clr-light);
}


/* === Filter Start =================== */

.Container main .Filter__Container {
  position: absolute;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  left: -360px;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 350px;
  background: var(--bg__clr-light-150);
  z-index: 2;
  transition: 0.3s ease-in-out;
  border-right: 0.1rem solid var(--bg__clr-light-700);
}

.Container main .Filter__Container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Container main .Filter__Container .Filter__Overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg__clr-light-150);
  opacity: 0;
  pointer-events: none;
}

:root.Light__Mode .Container main .Filter__Container .Filter__Overlay {
  background: var(--bg__clr-dark);
}

.Container main.active .Filter__Container {
  left: 0;
}

.Container main .Filter__Container .Filter__Header {
  position: sticky;
  padding: 1rem;
  top: 0;
  width: 100%;
  max-height: 70px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background: var(--bg__clr-light-200);
  border-bottom: 0.1rem solid var(--bg__clr-light-700);
  z-index: 2;
}

.Container main .Filter__Container .Filter__Header h3 {
  font-size: 1.2rem;
  color: var(--bg__clr-dark-300);
  font-weight: 600;
}

.Container main .Filter__Container .Filter__Header button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg__clr-dark-300);
  outline: 0.1rem solid var(--bg__clr-dark-300);
  outline-offset: 0;
  border-radius: var(--border__radius-4);
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  outline-offset: 0.15rem;
}

.Container main .Filter__Container .Filter__Header .Btn__Clear {
  width: fit-content;
  max-width: none;
  padding: 0 0.5rem;
  font-weight: 600;
  pointer-events: none;
  opacity: 0.5;
  background: var(--bg__clr-dark-300);
  border: none;
  color: var(--bg__clr-light-200);
  outline: 0.1rem solid var(--bg__clr-dark-300);
}

.Container main .Filter__Container .Filter__Header .Btn__Clear.active {
  pointer-events: painted;
  opacity: 1;
}

.Container main .Filter__Container .Filter__Header button:hover {
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

.Container main .Filter__Container .Filter__Header .Btn__Clear:hover {
  outline-offset: 0.1rem;
}

.Container main .Filter__Container .Filter__Header button:active {
  color: var(--bg__clr-light-200);
}

.Container main .Filter__Container .Filter__Header button i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-200);
}

.Container main .Filter__Container .Filter__Header button i:first-child {
  display: block;
}

.Container main .Filter__Container .Filter__Header button i:last-child {
  display: none;
}

.Container main .Filter__Container .Input__Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background: var(--bg__clr-light);
}

.Container main .Filter__Container .Input__Container .Input__Wrapper.row {
  flex-direction: row;
  gap: 1.5rem;
}

.Container main .Filter__Container .Input__Container .Input__Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Input__Title {
  font-size: 0.9rem;
  color: var(--bg__clr-light-700);
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Search__Input__Wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
  padding: 0 1rem;
  border: 0.1rem solid var(--bg__clr-light-700);
  border-radius: var(--border__radius-4);
  color: var(--bg__clr-light-700);
  background: var(--bg__clr-light-300);
}

:root.Dark__Mode .Container main .Filter__Container .Input__Container .Input__Wrapper .Search__Input__Wrapper,
:root.Dim__Mode .Container main .Filter__Container .Input__Container .Input__Wrapper .Search__Input__Wrapper {
  border: 0.1rem solid var(--bg__clr-dark-500);
  color: var(--bg__clr-dark-500);
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Search__Input__Wrapper input {
  width: 100%;
  border: 0;
  border-radius: 0;
  background: var(--bg__clr-light-300);
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Search__Input__Wrapper i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-900);
}

.Container main .Filter__Container .Input__Container .Input__Wrapper label {
  display: flex;
  flex-direction: column;
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Input {
  border: 0.1rem solid var(--bg__clr-dark-500);
  border-radius: var(--border__radius-4);
  background: var(--bg__clr-light-300);
  height: 45px;
  color: var(--bg__clr-dark-500);
  padding: 0 1rem;
  font-size: 1rem;
}

.Container main .Filter__Container .Input__Container .Input__Wrapper.row .Input {
  appearance: none;
  -webkit-appearance: none;
}

.Container main .Filter__Container .Input__Container .Input__Wrapper .Input:focus-visible {
  outline: 0rem solid transparent;
}

.Filter__Btn__Wrapper {
  position: sticky;
  bottom: 0;
  padding: 0.5rem 1rem;
  background: var(--bg__clr-light-200);
  border-top: 0.1rem solid var(--bg__clr-light-700);
}

.Filter__Btn__Wrapper button {
  margin: 0;
  height: 40px;
  color: var(--bg__clr-light-200);
  background: var(--bg__clr-dark-300);
}

.Filter__Btn__Wrapper button:hover {
  outline-color: var(--bg__clr-dark-300);
}

.Filter__Btn__Wrapper button:active {
  background: var(--bg__clr-light-300);
  outline-color: var(--bg__clr-light-300);
  color: var(--bg__clr-dark-300);
}


/* ================== Image Start ============== */

.Container .Image__Container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  animation: Feed__In 0.5s ease-in-out forwards;
}

.Container .Image__Container.active {
  pointer-events: painted;
  animation: Feed__Up 0.5s ease-in-out forwards;
}

.Container .Image__Container .Image__Overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  background: var(--bg__clr-light-150);
  z-index: -1;
}

:root.Light__Mode .Container .Image__Container .Image__Overlay {
  background: var(--bg__clr-dark);
}

.Container .Image__Container .Btn__Icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg__clr-dark-300);
  outline: 0.1rem solid var(--bg__clr-dark-300);
  outline-offset: 0;
  border-radius: var(--border__radius-4);
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  outline-offset: 0.15rem;
}

.Container .Image__Container .Btn__Icon i {
  font-size: 1.1rem;
  color: var(--bg__clr-light-200);
}

.Container .Image__Container img {
  max-width: 400px;
  height: auto;
  aspect-ratio: 2/2.52;
}


/* ================== Image End ============== */


/* =============== Media Query ========================== */

@media screen and (min-width: 1200px) {
  .Container .Cart__Container {
    position: absolute;
  }
}

@media screen and (min-width: 1120px) {
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1120px) {
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 880px) {
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper {
    grid-template-columns: repeat(2, minmax(100px, auto));
  }
  .Container main aside {
    position: fixed;
    right: -360px;
    width: 85%;
    pointer-events: none;
    border-left: 0.1rem solid var(--bg__clr-light-700);
    z-index: 3;
  }
  .Container main aside .Aside__Overlay {
    opacity: 0;
    pointer-events: none;
  }
  .Container main aside.active {
    right: 0;
    pointer-events: painted;
  }
  .Container main aside.active .Aside__Overlay {
    opacity: 0.7;
    pointer-events: painted;
  }
  .Container main .Main__Content__Wrapper.active {
    padding-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .Container main.active .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item {
    width: 100%;
    max-width: 250px;
  }
  .Container main.active .Main__Content__Wrapper {
    padding-left: 0;
  }
  .Container main .Filter__Container {
    position: fixed;
  }
  .Container main.active .Filter__Overlay {
    opacity: 0.7;
    pointer-events: painted;
  }
}

@media screen and (max-width: 550px) {
  .Container main.active .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item {
    width: 100%;
    max-width: none;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: none;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item.hidden {
    display: none;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Image__Wrapper {
    width: 80%;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom {
    height: 170px;
    justify-content: space-evenly;
    border-top: 0rem solid transparent;
    border-left: 0.1rem solid var(--bg__clr-light-700);
  }
}

@media screen and (max-width: 450px) {
  .Container header .logo {
    font-size: 1.6rem;
  }
  .Container header .Header__Right .User__Icon {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
  }
  .Container header .Btn__Outline {
    display: none;
  }
  .Container main .Main__Header .Main__Title {
    font-size: 1.2rem;
  }
  .Container main .Select {
    max-width: 110px;
    height: 35px;
    font-size: 0.8rem;
  }
  .Container main .Main__Content__Wrapper {
    max-height: none;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Card__Bottom {
    height: 100%;
    border-left: 0rem solid transparent;
    border-top: 0.1rem solid var(--bg__clr-light-700);
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Card__Item .Image__Wrapper {
    width: 100%;
  }
  .Container main .Main__Content__Wrapper .Main__Content {
    max-height: calc(100vh - 135px);
  }
  .Container main .Main__Content__Wrapper .Main__Content .Card__Item__Wrapper .Loading__Card__Item {
    max-width: none;
    width: 100%;
  }
  .Container header {
    padding: 0.5rem 1rem;
  }
  .Container main .Main__Header {
    padding: 0 1rem;
  }
  .Container main aside {
    right: -460px;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: none;
  }
  .Container .Cart__Container {
    right: -460px;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: none;
  }
  .Container .Cart__Container .Cart__Header button i:first-child {
    display: none;
  }
  .Container .Cart__Container .Cart__Header button i:last-child {
    display: block;
  }
  .Container .Nav__Container {
    right: -460px;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: none;
  }
  .Container .Nav__Container .Nav__Header button i:first-child {
    display: none;
  }
  .Container .Nav__Container .Nav__Header button i:last-child {
    display: block;
  }
  .Container main aside .Aside__Header {
    justify-content: flex-start;
    gap: 1rem;
  }
  .Container main aside .Aside__Header button i:first-child {
    display: none;
  }
  .Container main aside .Aside__Header button i:last-child {
    display: block;
  }
  .Container .People__Item {
    flex-direction: row;
    justify-content: flex-start;
  }
  .Container .People__Item .Profile__Image {
    min-height: 60px;
    min-width: 60px;
    height: 60px;
    width: 60px;
  }
  .Container .People__Item h3 {
    text-align: start;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .Container .People__Item span {
    font-size: 1rem;
    text-align: start;
  }
  .Container .Follows__Contaner .Follower__Wrapper {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    border: 0;
    border-radius: 0;
  }
  .Container .SwitchAccount__Contaner .form__Container {
    width: 90%;
  }
}

@keyframes Feed__In {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Feed__Up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Spiner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes Load {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes Scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}